h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}

#table {
    clear: both;
    margin-top: 100px;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}

th {
    vertical-align: bottom;
    padding-bottom: 0;
}

#remove {
    height: 20px;
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
}

#remove:hover {
    background-color: red;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: white;
}

.items, .empty {
    display: none;
}

.empty {
    clear: both;
    font-size: 2em;
    font-weight: bold;
    color: red;
}

#description {
    width: 500px;
}

#name {
    width: 250px;
}

#shortName {
    width: 100px;
}

.list {
    font-size: .8em;
    width: 100%;
    clear: both;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.list span {
    font-weight: bold;
}

.list #icon{
    color: red;
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    #description {
        width: 400px;
    }
    
    #name {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    #description {
        width: 350px;
    }
    
    #name {
        width: 100px;
    }
}

@media (max-width: 767px) {
    
    h1 {
        font-size: .9em;
        font-weight: bold;
    }
}


