body {
    background-color: lightyellow;
}

h1 {
    font-size: 48px;
    color:forestgreen;
    font-weight: bold;
    text-shadow: 1px 1px 1px red;
}

a[ui-sref]{
    font-size: 18px;
    color: red;
}

.current {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.title {
    color: forestgreen;
    font-size: 30px;
    border-bottom: 4px solid red;
}

.category {
    padding: 5px;
    margin-bottom: 10px;
}

.index {
    border-radius: 100%;
    background-color: red;
    width: 25px;
    margin: 0 auto;
}

span[ui-sref] {
    font-size: 20px;
}

span[ui-sref]:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

#table {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

td {
    border-bottom: 1px solid forestgreen;
    padding: 10px;
}