<!--
<ul>
    <li ng-repeat="item in found">
        {{ item.short_name }} {{ item.name }} {{ item.description}}
        <button ng-click="onRemove({index: $index});">Remove Item</button>
    </li>
</ul>-->

<table border="1">
    <tr ng-if="!list.isListEmpty()">
        <th>Short Name</th>
        <th>Name</th> 
        <th>Description</th>
    </tr>
    <tr ng-repeat="item in list.found">
        <td>{{item.short_name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
    </tr>
</table>
